.group-header
  width 100%
  padding 16px
  display flex
  justify-content flex-start
  flex-direction column
  box-sizing border-box
  .group-header_title
    font-size 18px
    line-height 18px
    color #333
    font-weight 500
  .group-header_description
    font-size 12px
    line-height 16px
    margin-top 8px
    color #666
    text-align left
